:root {
	--base-blue: rgb(89, 108, 255);
	--base-green: rgb(0, 243, 189);
	--base-red: rgb(242, 139, 130);
	--neon-red: #ff004d;
	--neon-green: rgb(63, 255, 46);
	--neon-blue: #04d9ff;
	--dark-blue: rgb(28, 36, 95);
}
.nav-link {
	color: var(--neon-green) !important;
}
.navbar-items :hover {
	border-bottom: 1px solid var(--neon-red);
	padding-bottom: 2px;
	color: var(--neon-red) !important;
}

.btn-neon {
	background-color: var(--dark-blue) !important;
	color: var(--neon-green) !important;
}

.btn-neon:hover {
	background-color: black !important;
	color: var(--neon-red) !important;
}

.row-span-2 {
	grid-row: span 2;
}

.expense-list {
	display: flex;
	flex-direction: column;
	height: 72.7svh;
	overflow-x: hidden;
	overflow-y: scroll;
	width: auto !important;
}
.expense-list::-webkit-scrollbar {
	background: transparent;
	width: 0.5rem;
	border-radius: 100vw;
}

.expense-list::-webkit-scrollbar-track {
	background: grey;
	width: 0.5rem;
	border-radius: 100vw;
	margin-block: 0.2svh;
}

.expense-list::-webkit-scrollbar-thumb {
	margin-block: 20px;
	background: rgba(245, 245, 245, 0.74);
	width: 0.5rem;
	border-radius: 100vw;
}

.expense-list::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
}

.form-dock {
	width: 95svw;
	border: 1px solid grey;
	margin: auto;
	box-shadow: 0 0 100px black;
}

.amount-enter::-webkit-inner-spin-button,
.amount-enter::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.amount-enter {
	background-color: black !important;
}

.dark-input {
	caret-color: white;
}
.dark-input::-webkit-input-placeholder {
	color: grey !important;
}
.card-element {
	background-color: #363d44 !important;
	box-shadow: 0 0 3px black;
	cursor: pointer;
}
.card-element:hover {
	scale: 1.03;
	transition: 300ms;
	outline: 2px solid white;
	.crud-btns {
		display: block;
		opacity: 1;
	}
}

.crud-btns {
	opacity: 0;
	transition: opacity 400ms ease-in;
}

.date-inp {
	color: grey !important;
}

.date-inp::-webkit-input-placeholder {
	color: white;
}
select {
	color: grey !important;
}
option {
	color: white;
}

.overview-div {
	background-color: #363d44 !important;
}

.blob {
	width: 400px;
	height: 400px;
	background: linear-gradient(var(--neon-red), var(--neon-blue));
	z-index: 1;
	filter: blur(150px);
	translate: -50% -50%;
	@media (width < 768px) {
		display: none;
	}
	border-radius: 50%;
	animation: rotate 20s infinite;
}

.blob-container {
	position: relative;
	width: 100%;
	height: 100%;
	@media (width < 768px) {
		overflow: auto;
	}
	@media (width >= 768px) {
		overflow: hidden;
	}
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}
	50% {
		scale: 1 1.5;
	}
	to {
		rotate: 360deg;
	}
}

.container-fluid {
	padding-right: 0 !important;
}

.bg-vary {
	@media(width >= 992px) {
		background-color: transparent;
	}
	background-color: #212529;
}

.card-btns {
	border: 1px solid black !important;
}